/* page set-up */

html, body {
  height: 100%;
  margin: 0px;
  font-family: 'muli', sans-serif;
  color: #333333;
  background-color: #FDFDFD;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #dddddd; 
  height: 50px;
  padding: 0px 20px;
}

main {
  padding: 20px;
}

hr { 
  border: 1px solid #dddddd;
}

section {
  margin: 10px 0px;
}

img {
  border-radius: 4px;
}

/* flex box setp */
.container { 
  display: flex; 
  flex-flow: row wrap;
}

.item-grow-1 {  flex-grow: 1; }
.item-grow-2 {  flex-grow: 2; }
.item-grow-3 {  flex-grow: 3; }
.item-grow-4 {  flex-grow: 4; }
.item-grow-5 {  flex-grow: 5; }
.item-grow-6 {  flex-grow: 6; }

.order-1 {  order: 1; }
.order-2 {  order: 2; }
.order-3 {  order: 3; }
.order-4 {  order: 4; }
.order-5 {  order: 5; }
.order-6 {  order: 6; }

.logo {
  width: 100px;
}

/* nav */
.navigation {
  list-style: none;
  margin: 0; 
  background-color: #333333;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #ffffff;
  justify-content: space-between;
}

.navigation li {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.navigation a:hover {
  background: #444444;
  color: #61D6D6;
}

.masthead {
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid #dddddd;
}

.logo-box {
  padding: 12px 12px 0px 12px;
}


.masthead p{
  margin: 0px; 
  padding: 12px;
  color: #333333;
}

#navButton {
  display: none;
  text-align: right;
}

#navButton p i{
  text-align: right;
  font-size: 2.4em;
}

#navButton p span{
  position: relative;
  top: -6px;
  left: -5px;
  font-size: 0.8em;
}

/* content */
.box {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}

.caption-box {
  margin: 10px 0px 5px 0px;
  padding: 10px;
}

.caption {
  text-align: left;
  margin-top: 0px; 
  font-size: 1em;
}

.inner-box {
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding: 5px;
} 

.inner-box img{
  display: block;
  min-width: 100px;
  max-width: 400px;
  margin: 0 auto;
}

.inner-box:hover {
  border: 2px solid #39CCCC;
} 


.hvr-ripple-out-good {
  margin: 5px;
  width: 20px;
  height: 20px;
  padding: 10px;
  color: #333;
  text-align: center;
  border: 1px solid #333;
  border-radius: 50%;
}

.hvr-ripple-out-good:hover {
  color: #39CCCC;
  border-color: #39CCCC;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out-good {
  display: inline-block;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.hvr-ripple-out-good:before {
  content: '';
  position: absolute;
  border: rgba(0, 0, 0, 0.0) solid 2px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out-good:hover:before, .hvr-ripple-out-good:focus:before, .hvr-ripple-out-good:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  border-color: #39CCCC;
  animation-fill-mode: forwards;
}

.fill-good {
  background-color: #39CCCC; 
  color: #fff;
  border: 1px solid #fff;
}

.fill-good:hover {
  color: #fff;
  border: 1px solid #fff;
}

.hvr-ripple-out-bad {
  margin: 5px;
  width: 20px;
  height: 20px;
  padding: 10px;
  color: #333;
  text-align: center;
  border: 1px solid #333;
  border-radius: 50%;
}

.hvr-ripple-out-bad:hover {
  color: #f44a4a;
  border-color: #f44a4a;
}

.hvr-ripple-out-bad {
  display: inline-block;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.hvr-ripple-out-bad:before {
  content: '';
  position: absolute;
  border: rgba(0, 0, 0, 0.0) solid 2px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out-bad:hover:before, .hvr-ripple-out-bad:focus:before, .hvr-ripple-out-bad:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  border-color: #f44a4a;
  animation-fill-mode: forwards;
}

.fill-bad {
  background-color: #f44a4a; 
  color: #fff;
  border: 1px solid #fff;
}

.fill-bad:hover {
  color: #fff;
  border: 1px solid #fff;
}

.active {
  color: #61D6D6 !important;
}

.largehl {
  width: 100%;
}