html {
  body {
    height: 100%;
    margin: 0px;
    font-family: 'muli', sans-serif;
    color: #3C444C;
    background-color: #FDFDFD;
    main {
      padding: 20px;
      .container { 
        display: flex; 
        flex-flow: row wrap;
        .box {
          width: 25%;
          padding: 10px;
          box-sizing: border-box;
          flex-grow: 1;
          .inner-box {
            border: 2px solid #dddddd;
            border-radius: 4px;
            padding: 5px;
            img{
              display: block;
              min-width: 100px;
              max-width: 400px;
              margin: 0 auto;
            }
            .caption-box {
              margin: 10px 0px 5px 0px;
              padding: 10px;
              h5 {
                text-align: left;
                margin-top: 0px; 
                font-size: 1em;
              }
            }
            &:hover {
              border: 2px solid #39CCCC;
            }
          } 
        } 
      }
    }
    hr { 
      border: 1px solid #dddddd;
    }
    section {
      margin: 10px 0px;
    }
    img {
      border-radius: 4px;
    }
    nav {
      z-index: 50;
      position:fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    i {
      z-index: 5;
    }
    
  }
}




.card { 
  height: 100vh;
  width: 100%;
  background-image: url('../images/card.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-clip: border-box;
  .mast-posit {
    position: relative;
    top: 30%;
    #mastTitle {
      opacity: 0.6;
      font-size: 2em;
      margin-top: 4px; 
      text-align: center;
    }
    .logo {
      opacity: 0.6;
      margin: 0 auto;
      width: 50%;
      display: block;
    }
  }
}

nav {
  z-index: 50;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  .masthead {
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    #navButton {
      display: none;
      text-align: right;
      p {
        span{
          position: relative;
          top: -6px;
          left: -5px;
          font-size: 0.8em;
        }
        i{
          text-align: right;
          font-size: 2.4em;
        }
      }
    }
    p {
      padding: 4px;
      margin: 0px; 
      color: #3C444C;
    }
  }
  .navigation {
    z-index: 50;
    list-style: none;
    margin: 0; 
    background-color: #3C444C;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    .active {
      color: #61D6D6 !important;
    }
    a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: #ffffff;
      justify-content: space-between;
      &:hover {
        background: #E54F43;
        color: #fff;
      }
    }
    li {
      list-style-type: none;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
  }
}


.next-button {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  opacity: 0.6;
  cursor: pointer;
  a {
    color: #ffffff;
    i {
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      width: 33px;
      height: 33px;
      border: 2px solid #ffffff;
    }
  }
}
